.chooseTheme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.appear {
  opacity: 1;
}

.chooseTheme__header {
  font-size: 1.1rem;
  padding: 20px 0;
}

.chooseTheme__choice {
  display: flex;
  padding: 20px 0;
  width: 100%;
  justify-content: space-evenly;
}

.chooseTheme__choice__button {
  padding: 6px 10px;
  font-size: 1.2rem;
}

.chooseTheme__preloaderWrapper {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
