.chooseTheme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: 1;
  padding: 10px;
  opacity: 0;
}

.appear {
  opacity: 1;
}

.chooseTheme__header {
  font-size: 1.2rem;
  padding: 20px 0;
}

.chooseTheme__choice {
  display: flex;
  padding: 20px 0;
  width: 100%;
  justify-content: space-evenly;
}

.chooseTheme__choice__button {
  padding: 6px 10px;
  font-size: 1.2rem;
}

.chooseTheme__preloaderWrapper {
  height: 32px;
  position: relative;

  & > * {
    position: absolute;
    transform: translateY(-25%) translateX(-50%);
  }
}
