@use "../UI/Button/Button.module.scss" as Button;
@use "../../styles/mainStyles.module.scss" as global;

.chooseLanguage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.appear {
  opacity: 1;
}

.chooseLanguage__header {
  font-size: 1.2rem;
  padding: 20px 0;
}

// .chooseLanguage__closeButton {
//   position: absolute;
//   top: 30px;
//   right: 20px;

//   &:hover {
//     cursor: pointer;
//   }

//   &:before,
//   &:after {
//     display: block;
//     content: "";
//     width: 15px;
//     height: 2px;
//     background-color: black;
//     transform: translateY(50%) rotate(45deg);
//   }

//   &:after {
//     transform: translateY(-50%) rotate(-45deg);
//   }
// }

.chooseLanguage__choice {
  display: flex;
  padding: 20px 0;
  width: 100%;
  justify-content: space-evenly;
}

.chooseLanguage__choice__btnWrapper {
  position: relative;
  width: fit-content;
}

.chooseLanguage__choice__btnWrapper__btnBackground {
  position: absolute;
  width: 100%;
  height: calc(100% + 4px);
  transform: translateY(-2px);
  background: Button.$mainGradient;
  border-radius: 10px;
}

.chooseLanguage__choice__button {
  border-radius: 10px;
  border: none;
  position: relative;
  color: white;
  background: black;
  display: block;
  padding: 6px 10px;
  font-size: 1.2rem;
  transition: all 1s linear;
  font-weight: 400;
}

.chooseLanguage__choice__button.active {
  color: black;
  background: none;
}
