.chooseLanguage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.appear {
  opacity: 1;
}

.chooseLanguage__header {
  font-size: 1.2rem;
  padding: 20px 0;
}

// .chooseLanguage__closeButton {
//   position: absolute;
//   top: 30px;
//   right: 20px;

//   &:hover {
//     cursor: pointer;
//   }

//   &:before,
//   &:after {
//     display: block;
//     content: "";
//     width: 15px;
//     height: 2px;
//     background-color: black;
//     transform: translateY(50%) rotate(45deg);
//   }

//   &:after {
//     transform: translateY(-50%) rotate(-45deg);
//   }
// }

.chooseLanguage__choice {
  display: flex;
  padding: 20px 0;
  width: 100%;
  justify-content: space-evenly;
}

.chooseLanguage__choice__button {
  padding: 6px 10px;
  font-size: 1.2rem;
}
