.haikuItem {
  display: grid;
  opacity: 0;
  padding: 20px 0;
}

.haikuItem__wrapper {
  justify-self: center;
  text-align: left;
}

.haikuItem__text {
  justify-self: center;
  position: relative;
  font-size: 1.1rem;
  width: fit-content;

  &:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    left: -8px;
    // background-color: var(--tg-theme-text-color);
    background-color: white;
  }
}
